{% extends "base.html" %}

{% block headermsg %}
  <h1 class="nav">Account disabled<h1>
{% endblock headermsg %}
{% block content %}
  <aside class="sidebar" id="left">
  </aside>
  <section id="main">
    <article>
      <h1>Account disabled</h1>
      <p>{{ name }}, your account has been disabled, <a href="{% url("register") %}">register</a>
          a new one!</p>
    </article>
  </section>
{% endblock content %}
