<!doctype html>
<!--
  This file is part of GNU TALER.
  Copyright (C) 2014, 2015, 2016 INRIA

  TALER is free software; you can redistribute it and/or modify it under the
  terms of the GNU Lesser General Public License as published by the Free Software
  Foundation; either version 2.1, or (at your option) any later version.

  TALER is distributed in the hope that it will be useful, but WITHOUT ANY
  WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
  A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for more details.

  You should have received a copy of the GNU Lesser General Public License along with
  TALER; see the file COPYING.  If not, see <http://www.gnu.org/licenses/>

  @author Marcello Stanisci
  @author Florian Dold
-->

<html data-taler-nojs="true">
  <head>
    <title>{{ settings_value("TALER_CURRENCY") }} Bank - Taler Demo</title>
    <link rel="stylesheet" type="text/css" href="{{ static('pure.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ static('web-common/demo.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ static('web-common/taler-fallback.css') }}" id="taler-presence-stylesheet" />
    <link rel="stylesheet" type="text/css" href="{{ static('bank.css') }}" />
    {% block head %} {% endblock %}
  </head>
  <body>
    <div class="demobar">
      <h1><span class="tt adorn-brackets">Taler Demo</span></h1>
      <h1><span class="it"><a href="{{ url('index') }}">Bank</a></span></h1>
      <p>This part of the demo shows how a bank that supports Taler directly would work.  In addition to
      using your own bank account, you can also see the transaction history of some <a href="{{ url('public-accounts') }}">Public Accounts</a>.</p>
      <p>Other parts of the demo:</p>
      <ul>
        <li><a href="{{ env('TALER_ENV_URL_INTRO', '#') }}">Introduction</a></li>
        <li><a href="{{ env('TALER_ENV_URL_BANK', '#') }}">Bank</a></li>
        <li><a href="{{ env('TALER_ENV_URL_MERCHANT_BLOG', '#') }}">Essay Shop</a></li>
        <li><a href="{{ env('TALER_ENV_URL_MERCHANT_DONATIONS', '#') }}">Donations</a></li>
        <li><a href="{{ env('TALER_ENV_URL_MERCHANT_SURVEY', '#') }}">Tipping/Survey</a></li>
        <li><a href="{{ env('TALER_ENV_URL_BACKOFFICE', '#') }}">Back-office</a></li>
      </ul>
      <p>You can learn more about Taler on our main <a href="https://taler.net">website</a>.</p>
    </div>
    <div class="content">
      {% block headermsg %} {% endblock %}
      {% block content %} {% endblock %}
      <div>
        <p>NOTE: the bank runs completely JavaScript-free.</p>
      </div>
    </div>
  </body>
</html>
