{% extends "base.html" %}
{#
  This file is part of GNU TALER.
  Copyright (C) 2014, 2015, 2016 INRIA

  TALER is free software; you can redistribute it and/or modify it under the
  terms of the GNU Lesser General Public License as published by the Free Software
  Foundation; either version 2.1, or (at your option) any later version.

  TALER is distributed in the hope that it will be useful, but WITHOUT ANY
  WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
  A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for more details.

  You should have received a copy of the GNU Lesser General Public License along with
  TALER; see the file COPYING.  If not, see <http://www.gnu.org/licenses/>

  @author Marcello Stanisci
  @author Florian Dold
#}

{% block headermsg %}
  <h1 class="nav">Welcome to the {{ settings_value("TALER_CURRENCY") }} Bank!</h1>
{% endblock headermsg %}

{% block content %}
  <section id="main">
    <article>
      <div class="login-form">
        <h2>Please login!</h2>
        <form method="post" class="pure-form" action="{{ url('login') }}">
          <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
          {{ form.username }}
          <input type="password" name="password" placeholder="password" />
          <input type="submit" value="login" class="pure-button pure-button-primary" />
          <input type="hidden" name="next" value="{{ next }}" />
        </form>
      </div>
      <p>
      If you are a new customer, please <a href="{{ url('register') }}">register</a>.
      Registration is fast and gratis, and it gives you a registration bonus
      of 100 {{ settings_value("TALER_CURRENCY") }}!
      </p>
      <p>
      To view transactions of public accounts,
      please <a href="{{ url('public-accounts') }}">click here</a>.
      </p>
    </article>
  </section>
{% endblock content %}
