<!-- 
  This file is part of GNU TALER.
  Copyright (C) 2014, 2015, 2016 INRIA

  TALER is free software; you can redistribute it and/or modify it under the
  terms of the GNU Lesser General Public License as published by the Free Software
  Foundation; either version 2.1, or (at your option) any later version.

  TALER is distributed in the hope that it will be useful, but WITHOUT ANY
  WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
  A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for more details.

  You should have received a copy of the GNU Lesser General Public License along with
  TALER; see the file COPYING.  If not, see <http://www.gnu.org/licenses/>

  @author Marcello Stanisci
-->

{% extends "base.html" %}

{% block headermsg %}
  <h1 class="nav">Register to the {{ settings_value('TALER_CURRENCY') }} bank!</h1>
{% endblock headermsg %}

{% block content %}
  <aside class="sidebar" id="left">
  </aside>
  <section id="main">
    <article>
      <a href="{{ url('index') }}">Back</a>
      <div class="notification">
        <!-- To be flag-ified -->
        {% if wrong %}
          <p class="informational informational-fail">
          Some fields were either not filled or filled incorrectly.
          </p>
        {% endif %}
        {% if not_available %}
        <p class="informational informational-fail">
          Sorry, this username is no longer available.
          Please choose another one!
        </p>
        {% endif %}
      </div>
    </article>
  </section>
  <section id="main">
    <article>
      <div class="register-form">
        <h1>Registration form</h1>
        <form class="pure-form" method="post" action="{{ url('register') }}">
          <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
          <input type="text" name="username" placeholder="username" autofocus />
          <input type="password" name="password" placeholder="password" />
          <input type="submit" value="Ok" class="pure-button pure-button-primary" />
        </form>
      </div>
    </article>
  </section>
{% endblock content %}
